<h2>New topic</h2>

<%= render "form.html", changeset: @changeset,
                        categories: @categories,
                        disciplines: @disciplines,
                        action: topic_path(@conn, :create) %>

<%= link "Back", to: topic_path(@conn, :index) %>
