$colors: (
  primary: (
    default:  #3dc873
  ),
  secondary: (
    default:  #FABE4D
  ),
  tertiary: (
    default:  #FF5468
  ),
  light: (
    default:  #ffffff,
    shade: #fafafa
  ),
  dark: (
    default:  #272727,
    accent: #676767,
    shade: #000000
  )
);
