.marker {
  position: relative;
  padding-right: 2rem;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 2rem;
    margin-top: -0.5rem;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    @include transform(scale(0.6));
    @include transition(all 375ms ease-out);
  }

  &:hover:after {
    @include transform(scale(1));
  }
}

.marker--primary:after {
  background-color: color(primary);
}

.marker--secondary:after {
  background-color: color(secondary);
}

.marker--tertiary:after {
  background-color: color(tertiary);
}
